.list-container{
   .list-content{
    
    .child{
        &:first-child{
            border-top: 2px solid gray ;
        }
        height: 40px;
        width: 500px;
        margin: 0 auto;
        border-bottom:  2px solid gray ;
    }
   }
}